﻿<!-- Navbar -->
<div ng-include="'../App/views/common/navbar.html'"></div>

<div class="app-body">
    <!-- Navigation -->
    <div ng-include="'../App/views/common/sidebar-nav.html'"></div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb" breadcrumb>
            <ncy-breadcrumb></ncy-breadcrumb>
        </ol>

        <div class="container-fluid">
            <ui-view></ui-view>
        </div>
        <!-- /.conainer-fluid -->
    </main>


</div>

<!-- Footer -->
<div ng-include="'../App/views/common/footer.html'"></div>
