﻿<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2><i class="fa fa-mail-forward"></i> Registrar Nuevo Ingreso</h2><hr>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <a ui-sref="app.ingresos" class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i> Regresar</a>
            </div>
        </div><br>
        <div class="card card-accent-primary pad-15">
            <p><i style="color:#3498db" class="fa fa-info-circle"></i> Introduce los datos correspondientes para registrar un nuevo ingreso.</p>
        </div>

        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-header text-center"><b>Nuevo Ingreso</b></div>
                    <div class="card-block ">
                        <form class="form-group">
                            <div class="row">
                                <div class="form-group col-xl-6 col-lg-6 col-md-6">
                                    <label>Fecha de Ingreso:</label>
                                    <input type="date" class="form-control">
                                </div>
                                <div class="form-group col-xl-6 col-lg-6 col-md-6">
                                    <label>Monto:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-dollar"></i>
                                        </span>
                                        <input class="form-control" placeholder="$0.00">
                                        <!--span class="input-group-addon">.00</span-->
                                    </div>
                                </div>
                                <div class="form-group col-xl-6 col-lg-6 col-md-6">
                                    <label>Referencia de Pago:</label>
                                    <input class="form-control">
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-sm-6 text-right">
                                    <button class="btn btn-primary"><i class="fa fa-check"></i> Registrar</button>
                                </div>
                                <div class="col-sm-6 text-left">
                                    <a ui-sref="app.ingresos" class="btn btn-secondary"><i class="fa fa-times"></i> Cancelar</a>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>