﻿<div class="row" >
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2><span class="fa fa-cubes"></span> Proveedores / Agregar Proveedor</h2> <hr>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <a ui-sref="app.proveedores" class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i> Regresar</a>
            </div>
        </div><br>

        <form class="form">
            <div class="card">
                <div class="card-header text-center"><b>Datos del Proveedor</b></div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-6 col-ls-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>	Nombre del Proveedor: * (Nombre comercial): </label>
                                <input v-model="empresa" class="form-control" placeholder="Nombre del proveedor">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label> Nombre de Persona de Contacto: </label>
                                <input v-model="personaContacto" class="form-control" placeholder="Nombre de Persona de Contacto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header text-center"><b>Información de la empresa: <label v-bind:value="empresa"></label></b></div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-6 col-ls-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label> Teléfono: </label>
                                <input class="form-control" placeholder="Teléfono">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label> Correo Electrónico </label>
                                <input class="form-control" placeholder="Correo Electrónico">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label> Dirección: </label>
                            <input class="form-control" placeholder="Dirección">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                            <label> Razón Social: </label>
                            <input class="form-control" placeholder="Razón Social">
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <label> RFC: </label>
                            <input class="form-control" placeholder="RFC">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <label> Banco: </label>
                            <input class="form-control" placeholder="Banco">
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <label> Cuenta Bancaria: </label>
                            <input class="form-control" placeholder="Cuenta Bancaria">
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <label> CLABE: </label>
                            <input class="form-control" placeholder="Cuenta Interbancaria">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center"><b>Información de la persona de contacto: {{ personaContacto }}</b></div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-4 col-ls-4 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label> Teléfono de Oficina: </label>
                                <input class="form-control" placeholder="Teléfono de Oficina">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label> Teléfono Móvil: </label>
                                <input class="form-control" placeholder="Teléfono Móvil">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label> Correo Electrónico: </label>
                                <input class="form-control" placeholder="Correo Electrónico">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-6 text-right">
                    <a href="#/proveedores" class="btn btn-primary"><i class="fa fa-check"></i> Guardar</a>
                </div>
                <div class="col-sm-6 text-left">
                    <a ui-sref="app.proveedores" class="btn btn-secondary"><i class="fa fa-times"></i> Cancelar</a>
                </div>

            </div>
        </form><br>

    </div>
</div>