﻿<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2><span class="fa fa-user"></span> Proveedores / Detalle del Proveedor</h2><hr>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <a ui-sref="app.proveedores" class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i> Regresar</a>
            </div>
        </div><br>
        <div class="card card-accent-primary pad-15">
            <p><i style="color:#3498db" class="fa fa-info-circle"></i> Información detallada del proveedor: {{fulano}}</p>
        </div>

        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1"></div>
            <div class="col-xl-10 col-lg-10 col-md-10">
                <div class="card">
                    <div class="card-header text-center"><b>Proveedor: {{fulano}}</b></div>
                    <div class="card-block">

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                Proveedor:<br />
                                <h6><i class="fa fa-cubes"></i> - Proveedor</h6><br />
                                Teléfono de Casa:
                                <h6><i class="fa fa-phone"></i> - 1234567890</h6><br />
                                Correo Electrónico:
                                <h6><i class="fa fa-envelope"></i> - correo@mail.com</h6><br />
                                Dirección:<br />
                                <h6><i class="fa fa-building"></i> - Dirección</h6><br />
                                Razón Social:<br />
                                <h6><i class="fa fa-suitcase"></i> - RS</h6><br />
                                RFC:<br />
                                <h6><i class="fa fa-user"></i> - RFC</h6><br />
                                Banco:
                                <h6><i class="fa fa-bank"></i> - Bancomer</h6><br />
                                Cuenta Bancaria:
                                <h6><i class="fa fa-caret-right"></i> - 1234567890</h6><br />
                                CLABE:
                                <h6><i class="fa fa-caret-right"></i> - 1234567890</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                TNombre de persona d contacto:<br />
                                <h6><i class="fa fa-male"></i> - Juan Carlos Bodoque</h6><br />
                                Teléfono de Oficina:<br />
                                <h6><i class="fa fa-phone"></i> - 0987654321</h6><br />
                                Teléfono Móvil:
                                <h6><i class="fa fa-mobile-phone"></i> - 1234567890</h6><br />
                                Correo Electrónico:
                                <h6><i class="fa fa-envelope"></i> - correo@mail.com</h6><br />
                                <br /><br /><br />
                            </div>
                        </div>

                    </div>



                </div>

                <div class="row ">
                    <div class="col-xl-3 col-lg-3"></div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 text-center" >
                        <button class="btn btn-warning" style="margin:5px;"><i class="fa fa-edit"></i> Editar</button>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 text-center">
                        <a ui-sref="app.condominos" style="margin:5px;" class="btn btn-primary"><i class="fa fa-check"></i> Aceptar</a>
                    </div>

                </div><br /><br />

            </div>
        </div>

    </div>
</div>