﻿<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2><span class="fa fa-cubes"></span> Proveedores </h2> <hr>

        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <a ui-sref="app.addproveedor" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Nuevo Proveedor</a>
            </div>

        </div><br>

        <div  class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4"></div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 pad-top-15">
                <div class="card card-accent-warning text-center pad-top-15">
                    <p><i style="color: #daa520" class="fa fa-warning"></i> No hay Proveedores registrados</p>
                </div>
            </div>

        </div>

        <div  class="card table-responsive">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Persona de contacto</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>Home Depot <a ui-sref="app.detproveedor" class="link"><i class="fa fa-eye"></i></a></td>
                        <td>Juan Carlos Bodoque</td>
                        <td>1234567890</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>