﻿<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2><span class="fa fa-user"></span> Condóminos / Detalle de Egreso</h2><hr>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <a ui-sref="app.egresos" class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i> Regresar</a>
            </div>
        </div><br>
        <div class="card card-accent-primary pad-15">
            <p><i style="color:#3498db" class="fa fa-info-circle"></i> Información detallada del egreso: {{fulano}}</p>
        </div>

        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1"></div>
            <div class="col-xl-10 col-lg-10 col-md-10">
                <div class="card">
                    <div class="card-header text-center"><b>Egreso: {{fulano}}</b></div>
                    <div class="card-block">

                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                Monto:<br />
                                <h6><i class="fa fa-dollar"></i> - $500.00</h6><br />
                                Proveedor:<br />
                                <h6><i class="fa fa-cubes"></i> - Proveedor</h6><br />
                                Concepto:
                                <h6><i class="fa fa-info-circle"></i> - lalalala</h6>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                Fecha de Egreso:<br />
                                <h6><i class="fa fa-calendar"></i> - 12/12/12</h6><br />
                                Forma de Pago:<br />
                                <h6><i class="fa fa-money"></i> - Efectivo</h6>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                Fecha de Registro:<br />
                                <h6><i class="fa fa-calendar-check-o"></i> - 12/12/12 - 12:36 pm</h6>
                            </div>
                        </div>

                    </div>
                    
                    
                </div>
                <div class="row ">
                    <div class="col-xl-3 col-lg-3"></div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 text-center">
                        <button class="btn btn-danger" style="margin:5px;"><i class="fa fa-trash"></i> Eliminar</button>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 text-center">
                        <a ui-sref="app.egresos" class="btn btn-primary" style="margin:5px;"><i class="fa fa-check"></i> Aceptar</a>
                    </div>

                </div><br /><br />
            </div>
        </div>

    </div>
</div>