﻿<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2><span class="fa fa-mail-reply"></span> Egresos</h2><hr>
        <div class=" row form-group center- text-center">
            <div class="col-xl-4 col-lg-4  col-md-4 col-sm-12 pad-top-15">
                <a ui-sref="app.addegresos" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Nuevo Egreso</a>
            </div>
            <br>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 pad-top-15">
                <select class="form-control btn-secondary">
                    <option>Junio</option>
                    <option>Julio</option>
                    <option>Marzo</option>
                </select>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 pad-top-15">
                <select class="form-control btn-secondary ">
                    <option>2017</option>
                    <option>2016</option>
                    <option>2016</option>
                </select>
            </div>

        </div>
    </div>

</div>

<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4"></div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 pad-top-15">
        <div class="card card-accent-warning text-center pad-top-15">
            <p><i style="color: #daa520" class="fa fa-warning"></i> No hay egresos registrados</p>
        </div>
    </div>
</div>
<div>

    <div class="row ">
        <div class="col-xl-4 col-lg-4 col-md-2 col-sm-1"></div>
        <div class="col-xl-4 col-lg-4 col-md-8 col-sm-10 ">
            <p class="text-center">Egresos de Julio 2017 <strong>$700.00</strong></p>
        </div>
    </div>
    <div class="row ">
        <div class="col-xl-1 col-lg-1 col-md-1"></div>
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 ">
            <div class="card table-responsive">
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Beneficiario</th>
                            <th>Concepto</th>
                            <th class="text-right">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>07/07/17</td>
                            <td>Office Depot</td>
                            <td>Candados <a ui-sref="app.detegresos" class="link text-right"><i class="fa fa-eye text-right"></i></a></td>
                            <td class="text-right">$200.00</td>

                        </tr>
                        <tr>
                            <td>07/07/17</td>
                            <td>Miguel Herrera H.</td>
                            <td>Seguridad Privada</td>
                            <td class="text-right">$500.00</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>



