﻿<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="MainCtrl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Genius - Bootstrap 4 Admin Template">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,jQuery,CSS,HTML,RWD,Dashboard">
    <link rel="shortcut icon" href="~/Content/static/img/hommunity-.png" sizes="32x32">
    <link rel="icon" href="~/Content/img/favicon-hommunity.png" />
    <link rel="alternate" type="application/rss+xml" title="Hommunity » Feed" href="http://hommunity.mx/feed/">

    <title>Hommunity</title>

    <!-- Main styles for this application -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/static/css/stilo.css"/>

</head>

<!-- BODY options, add following classes to body to change options

  // Header options
  1. '.header-fixed'					- Fixed Header

  // Sidebar options
  1. '.sidebar-fixed'					- Fixed Sidebar
  2. '.sidebar-hidden'				- Hidden Sidebar
  3. '.sidebar-off-canvas'		- Off Canvas Sidebar
  4. '.sidebar-compact'				- Compact Sidebar Navigation (Only icons)

  // Aside options
  1. '.aside-menu-fixed'			- Fixed Aside Menu
  2. '.aside-menu-hidden'			- Hidden Aside Menu
  3. '.aside-menu-off-canvas'	- Off Canvas Aside Menu

  // Footer options
  1. 'footer-fixed'						- Fixed footer

  -->

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">

<!-- User Interface -->
<ui-view></ui-view>

<!-- Bootstrap and necessary plugins -->
<script src="~/App/js/libs/jquery.min.js"></script>
<script src="~/App/js/libs/tether.min.js"></script>
<script src="~/App/js/libs/bootstrap.min.js"></script>

<!-- AngularJS -->
<script src="~/App/js/libs/angular.min.js"></script>

<!-- AngularJS plugins -->
<script src="~/App/js/libs/angular-animate.min.js"></script>
<script src="~/App/js/libs/angular-sanitize.min.js"></script>
<script src="~/App/js/libs/angular-ui-router.min.js"></script>
<script src="~/App/js/libs/ocLazyLoad.min.js"></script>
<script src="~/App/js/libs/angular-translate.min.js"></script>
<script src="~/App/js/libs/angular-breadcrumb.min.js"></script>
<script src="~/App/js/libs/loading-bar.min.js"></script>

<!-- AngularJS Genius App scripts -->
<script src="~/App/ApiService.js"></script>

<script src="~/App/ticket/ticket.js"></script>
<script src="~/App/condominos/agregar.js"></script>
<script src="~/App/condominos/condominos.js"></script>
<script src="~/App/condominos/detalle.js"></script>

<script src="~/App/ingresos/agregar.js"></script>
<script src="~/App/ingresos/ingresos.js"></script>

<script src="~/App/egresos/egresos.js"></script>
<script src="~/App/egresos/agregar.js"></script>
<script src="~/App/egresos/detalles.js"></script>

<script src="~/App/proveedores/proveedores.js"></script>
<script src="~/App/proveedores/agregar.js"></script>
<script src="~/App/proveedores/detalle.js"></script>

<script src="~/App/configuracion/configuracion.js"></script>
<script src="~/App/configuracion/conceptos.js"></script>
<script src="~/App/configuracion/propiedades.js"></script>

<script src="~/App/perfil/perfil.js"></script>

<script src="~/App/js/app.js"></script>

<script src="~/App/js/routes.js"></script>

<script src="~/App/js/controllers.js"></script>
<script src="~/App/js/directives.js"></script>
<script src="~/App/js/translations.js"></script>

</body>

</html>
