﻿<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2><span class="fa fa-key"></span> Configuracines de Constraseña</h2><hr>

        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-header text-center">
                        <b>Cambiar contraseña</b>
                    </div>
                    <div class="card-block">
                        <form>
                            <div class="form-group">
                                <label for="anterior">Contraseña anterior *</label>
                                <input type="password" class="form-control" placeholder="Contraseña anterior">
                            </div>
                            <div class="form-group">
                                <label class="" for="anterior">Contraseña nueva *</label>
                                <input type="password" class="form-control" placeholder="Contraseña nueva">
                            </div>
                            <div class="form-group">
                                <label class="" for="anterior">Repetir contraseña *</label>
                                <input type="password" class="form-control" placeholder="Repetir contraseña">
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-primary" disabled=""><i class="fa fa-check"></i> Guardar Cambios</button>
                                <button class="btn btn-secondary" ><i class="fa fa-times"></i> Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
		</div>