<footer class="app-footer">
    <a href="https://hommunity.mx">Hommunity</a> &copy; 2017.
    <span class="float-right">
        Powered by <a href="https://pictux.mx">Pictux</a>
    </span>
</footer>
