<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="fa fa-home"></i> Inicio</a>
            </li>
            <li class="nav-item">
                <a ui-sref="agregar"></a>
                <a class="nav-link" ui-sref="app.condominos"><i class="fa fa-user"></i> Condóminos <span class="badge badge-info">NEW</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.ingresos"><i class="fa fa-mail-forward"></i> Ingresos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.egresos"><i class="fa fa-mail-reply"></i> Egresos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.proveedores"><i class="fa fa-cubes"></i> Proveedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.configuracion"><i class="fa fa-wrench"></i> Configuración</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.perfil"><i class="fa fa-key"></i> Contraseña</a>
            </li>

        </ul>
    </nav>
</div>
