<nav class="top-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.main">
            <i class="icon-speedometer"></i> Hommunity</a>
        </li>

    </ul>
</nav>
