﻿<div  class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2><span class="fa fa-wrench"></span> Configuracion de Conceptos de Cobro</h2><hr>

        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <a ui-sref="app.configuracion" class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i> Regresar</a>
            </div>
        </div><br>

        <div class="card card-accent-primary pad-15">
            <p><i style="color:#3498db" class="fa fa-info-circle"></i> Podrá agregar nuevos conceptos de cobro</p>
        </div>

        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="card table-responsive">
                    <table class="table table-bordered table-striped table-sm ">
                        <thead>
                            <tr>
                                <th>Concepto</th>
                                <th>Monto</th>
                                <th>Periodicidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Seguridad Privada</td>
                                <td>$100.00</td>
                                <td>Mensual</td>
                                <td class="text-center"><i class="fa fa-pencil"></i></td>
                            </tr>
                            <tr>
                                <td>Servicio de Agua Potable</td>
                                <td>$190.00</td>
                                <td>Anual</td>
                                <td class="text-center"><i class="fa fa-pencil"></i></td>
                            </tr>
                            <tr>
                                <td>Mantenimiento</td>
                                <td>$10.00</td>
                                <td>Única</td>
                                <td class="text-center"><i class="fa fa-pencil"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="col-xl-4 col-lg-4">
                <div class="card">
                    <div class="card-header text-center"><b>Agregar un nuevo concepto de cobro</b></div>
                    <div class="card-block">
                        <form>
                            <div class="form-group">
                                <label>Concepto:</label>
                                <input placeholder="Concepto" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Monto:</label>
                                <input placeholder="$0.00" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Perioricidad:</label>
                                <select class="form-control">
                                    <option>Mensual</option>
                                    <option>Única</option>
                                </select>
                            </div>
                            <button class="btn btn-primary"><i class="fa fa-check"></i> Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>