﻿<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2><span class="fa fa-wrench"></span> Configuraciones</h2><hr>
        <div class="card card-accent-primary pad-15">
            <p><i style="color:#3498db" class="fa fa-info-circle"></i> Podrá agregar nuevos conceptos de cobro y estados de ticket</p>
        </div>

        <div class="row ">
            <div class="col-xl-3 col-lg-3"></div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 text-center">
                <button class="btn btn-primary" ui-sref="app.conceptos" style="margin:5px;">
                    <i class="fa fa-file"> Conceptos de Cobro</i>
                </button>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 text-center">
                <button class="btn btn-primary" ui-sref="app.propiedades" style="margin:5px;">
                    <i class="fa fa-gears"> Propiedades - Buzón</i>
                </button>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />