﻿<div  class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2><span class="fa fa-wrench"></span> Configuracion de Estados</h2><hr>

        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <a ui-sref="app.configuracion" class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i> Regresar</a>
            </div>
        </div><br>

        <div class="card card-accent-primary pad-15">
            <p><i style="color:#3498db" class="fa fa-info-circle"></i> Podrá agregar o eliminar Estados</p>
        </div>

        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="card">
                    <div class="card-header text-center"><b>Agregar un nuevo Estado</b></div>
                    <div class="card-block">
                        <form>
                            <div class="form-group">
                                <label>Estado:</label>
                                <input placeholder="Estado" class="form-control">
                            </div>

                            <button class="btn btn-primary"><i class="fa fa-check"></i> Agregar</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xl-7 col-lg-7">
                <div class="card table-responsive">
                    <table class="table table-bordered table-striped table-sm ">
                        <thead>
                            <tr>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Estado Title</td>
                                <td class="text-center"><i class="fa fa-trash"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>
</div>