.pad-top-15{
	padding-top: 15px;
}
.table tbody tr:hover{
	background-color: #dbdbdb;
}
.pad-15{
	padding: 15px;
	font-size: 18px;
	text-align: center;
}
.pad-15-left{
	padding: 15px;
}
.navbar-brand{
	background: url(../img/chico.png);
}
