﻿<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2><span class="fa fa-user"></span> Agregar Nuevo Condómino</h2><hr>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <a ui-sref="app.condominos" class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i> Regresar</a>
            </div>
        </div><br>
        <div class="card card-accent-primary pad-15">
            <p><i style="color:#3498db" class="fa fa-info-circle"></i> Podrá agregar nuevos Condóminos</p>
        </div>

        <form class="form">
            <div class="card">
                <div class="card-header text-center">
                    <b>Datos Esenciales</b><br>
                    <small>Estos Campos son obligatorios</small>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="form-group col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label>No. de condómino:</label>
                            <input placeholder="Numero de condómino" class="form-control">
                        </div>
                        <div class="form-group col-xl-9 col-lg-9 col-md-9 col-sm-9">
                            <label>Nombre del Residente:</label>
                            <input placeholder="Numero de condómino" class="form-control">
                        </div>
                    </div>

                </div>
            </div>

            <div class="card">
                <div class="card-header text-center">
                    <b>Datos de contacto</b><br>
                    <small> (es necesario registrar por lo menos un teléfono o correo electrónico)</small>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <label>Correo Electrónico:</label>
                            <input placeholder="Correo Electrónico" class="form-control">
                        </div>
                        <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <label>Teléfono de casa:</label>
                            <input placeholder="Teléfono de casa" class="form-control">
                        </div>
                        <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <label>NTeléfono de Oficina:</label>
                            <input placeholder="Teléfono de Oficina" class="form-control">
                        </div>
                        <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <label>Teléfono Móvil:</label>
                            <input placeholder="Teléfono Móvil" class="form-control">
                        </div>

                        <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <label>Manzana:</label>
                            <input placeholder="Manzana" class="form-control">
                        </div>
                        <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <label>Lote:</label>
                            <input placeholder="Lote" class="form-control">
                        </div>
                        <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <label>SubLote:</label>
                            <input placeholder="SubLote" class="form-control">
                        </div>
                        <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <label>Referencia:</label>
                            <input placeholder="Referencia" class="form-control">
                        </div>
                    </div>

                </div>
            </div>

            <div class="card">
                <div class="card-header text-center">
                    <b>Datos Complementarios</b><br>
                    <small> (son necesarios para recibir información de noticias y botón de pánico).</small>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-6">
                            <label>No. de Casa:</label>
                            <input placeholder="Número de Casa" class="form-control">
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-6">
                            <label>Cuota a pagar:</label>
                            <input placeholder="Teléfono de casa" class="form-control">
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-6">
                            <label>Tipo de condómino:</label>
                            <select class="form-control">
                                <option>Condómino</option>
                                <option>Residente</option>
                                <option>Comercial</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-sm-6 text-right">
                    <button class="btn btn-primary"><i class="fa fa-check"></i> Agregar</button>
                </div>
                <div class="col-sm-6 text-left">
                    <a ui-sref="app.condominos" class="btn btn-secondary"><i class="fa fa-times"></i> Cancelar</a>
                </div>

            </div>
        </form>
        <br>
    </div>
</div>