﻿<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2><span class="fa fa-user"></span> Condóminos</h2><hr>

        <div class=" row">
            <div class="col-xl-3">
                <div class="form-group">
                    <a class="btn btn-primary" ui-sref="app.addcondos"><i class="fa fa-plus-circle"></i> Nuevo Condómino</a>
                </div>

            </div>
            <div class="col-xl-7">
                <form class="form-inline row">
                    <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <select class="form-control">
                            <option>Correo</option>
                            <option>Nombre</option>
                            <option>Ref condominos</option>
                        </select>
                    </div>
                    <div class="form-group col-xl-8 col-lg-8 col-md-8 col-sm-6">
                        <input type="text" class="form-control" placeholder="Buscar">
                        <span class="input-group-btn">
                            <div class="btn btn-primary"><i class="fa fa-search"></i> Buscar</div>
                        </span>
                    </div>
                </form>

            </div>
            <div class="col-xl-2">
                <div class="form-group">
                    <button class="btn btn-secondary"><i class="fa fa-fire"></i> Limpiar</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4"></div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 pad-top-15">
                <div class="card card-accent-warning text-center pad-top-15">
                    <p><i style="color: #daa520" class="fa fa-warning"></i> No hay Condóminos registrados</p>
                </div>
            </div>

        </div>

        <div class="card">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Crear Usuario</th>
                            <th class="text-center">Enviar Accesos</th>
                            <th>Nombre</th>
                            <th class="text-right">Debe</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--tr v-for="condo in condos"-->
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center"><i class="fa fa-user-plus"></i></td>
                            <td class="text-center"><i class="fa fa-envelope"></i></td>
                            <td>Pedro Alberto Castillo</td>
                            <td class="text-right">$500.00</td>
                            <td><a class="link" ui-sref="app.detcondos"><i class="fa fa-eye"></i></a></td>
                        </tr>
                        <tr>
                            <td class="text-center">65</td>
                            <td class="text-center"><i class="fa fa-user-plus"></i></td>
                            <td class="text-center"><i class="fa fa-envelope"></i></td>
                            <td>María de los Ángeles García Muratalla</td>
                            <td class="text-right">$50.00</td>
                        </tr>
                        <tr>
                            <td class="text-center">90</td>
                            <td class="text-center"><i class="fa fa-user-plus"></i></td>
                            <td class="text-center"><i class="fa fa-envelope"></i></td>
                            <td>Alicia Aguilera Próspero</td>
                            <td class="text-right">$10.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-4">
                <div class="btn btn-primary"><i class="fa fa-file-text"></i> Consulta General</div>
            </div>
            <div class="col-xl-4"></div>
        </div><br /><br />
    </div>
</div>