﻿<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2><span class="fa fa-user"></span> Condóminos / Detalle de Condómino</h2><hr>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <a ui-sref="app.condominos" class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i> Regresar</a>
            </div>
        </div><br>
        <div class="card card-accent-primary pad-15">
            <p><i style="color:#3498db" class="fa fa-info-circle"></i> Información detallada del condómino: {{fulano}}</p>
        </div>

        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1"></div>
            <div class="col-xl-10 col-lg-10 col-md-10">
                <div class="card">
                    <div class="card-header text-center"><b>Condómino: {{fulano}}</b></div>
                    <div class="card-block">

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                Condómino:<br />
                                <h6><i class="fa fa-home"></i> - 1</h6><br />
                                Nombre del Residente:<br />
                                <h6><i class="fa fa-user"></i> - Residente</h6><br />
                                Correo Electrónico:
                                <h6><i class="fa fa-envelope"></i> - correo@mail.com</h6><br />
                                Teléfono de Casa:
                                <h6><i class="fa fa-phone"></i> - 1234567890</h6><br />
                                Teléfono de Oficina:
                                <h6><i class="fa fa-phone"></i> - 1234567890</h6><br />
                                Teléfono Móvil:
                                <h6><i class="fa fa-phone-square"></i> - 1234567890</h6>    
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                Tipo de Condómino / Tipo de Fraccionamiento:<br />
                                <h6><i class="fa fa-flag-o"></i> - Activo / Activo</h6><br />
                                Calle:<br />
                                <h6><i class="fa fa-street-view"></i> - Street</h6><br />
                                Manzana / Lote / SubLote:
                                <h6><i class="fa fa-building"></i> - 3 / 4 / 5</h6><br />
                                Número de Casa:
                                <h6><i class="fa fa-building-o"></i> - 90</h6><br />
                                <br /><br /><br />
                             </div>
                        </div>

                    </div>

                    

                </div>

                <div class="row ">
                    <div class="col-xl-3 col-lg-3"></div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 text-center" >
                        <button style="margin:5px;" class="btn btn-warning"><i class="fa fa-edit"></i> Editar</button>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 text-center">
                        <a style="margin:5px;" ui-sref="app.condominos" class="btn btn-primary"><i class="fa fa-check"></i> Aceptar</a>
                    </div>

                </div><br /><br />

            </div>
        </div>
        
    </div>
</div>