﻿<br />

<button ng-click="GetTickets()" class="btn btn-success">mostrar datos</button>

<ul onload="GetTickets()">
    <li ng-repeat="item in models">
        {{item.id}} - <a ui-sref="">{{item.mensaje}}</a> - {{item.numero}} 
        <button class="btn btn-warning" title="Editar" ng-click="editar(item.id)"><i class="fa fa-edit"></i></button>
        <button class="btn btn-danger"title="Eliminar" ng-click="remover(item.id, item.numero)">
        <i class="fa fa-remove"></i>
        </button>
    </li>
</ul>
<h2>Agregar Ticket</h2>
<hr />
<form>
    <label>Mensaje</label>
    <input class="form-control" type="text" ng-model="modelo.mensaje" />
    <br />
    <label>Numero</label>
    <input class="form-control" type="number" ng-model="modelo.numero" />
    <br />
    <input type="submit" ng-click="AgregarTicket()" class="btn btn-primary" />
</form>
<pre>{{event.result}}</pre>
<pre>{{modelo}}</pre>